.section-greece{
background-image: url('../assets/Images/greece.jpg');
background-position: center;
background-size: cover;
}
.section-iceland{
    background-image: url('../assets/Images/iceland.jpg');
    background-position: center;
    background-size: cover;
}
.section-hawaii{
    background-image: url('../assets/Images/hawaii.jpg');
    background-position: center;
    background-size: cover;
}
.section-destination h1{
    color: #ffffff;
    padding-top:6rem;
    font-size: 6rem;
    margin-left: 8rem;
}
.card-destination{
    color: #000;
    padding: 2rem;
    background-color: #ffffff;
}
.card-heading{
    font-size: 2rem;
    text-align: center;
    display: block;
    border-bottom: 2px solid black;
    font-weight: 700;
    margin-bottom: 4rem;
}
.card-destination ul li{
    display: block;
    padding: 2rem;
    text-align: center;
    background-color: #fefaf5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}