/* GLOBAL STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /*font size 10px */
}
body {
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}
a {
  text-decoration: none;
}
ul{
    list-style: none;
}

main {
  margin-top: 8.4rem;
}
button {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  width: 20rem;
  padding: 1.4rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #db7a4e;
}


/* HEADER STYLES */
.header {
  position: static;
}
.navigation {
  position: fixed;
  left: 0;
  z-index: 9999;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
}
.navigation__logo {
  color: #335576;
  font-size: 3.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}
.navigation__links {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: 600;
}
.navigation__links ul {
  display: flex;
  flex-direction: row;
}
.navigation__links ul li {
  margin-left: 2rem;
}
.navigation__links ul li a:link,
.navigation__links ul li a:visited {
  color: #393939;
  padding-bottom: 10px;
}

/* CARD AND SECTION STYLES */
.section__cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10rem;
}
.card {
  width: 35rem;
  height: 55rem;
  border-radius: 5px;
  margin-right: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
/* FOOTER SYLES */

.footer {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  background-color: #fefaf5;
}
.footer__contact,
.footer__hours,
.footer__social {
  color: #335576;
}
.footer__contact h1,
.footer__hours h1,
.footer__social h1 {
  margin-bottom: 2rem;
  font-size: 2.2rem;
}
.footer__subtitle {
  color: #db7a4e;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.footer p {
  display: inline-block;
}
.footer__social img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}
.footer__hours-1,
.footer__hours-2,
.footer__hours-3 {
  display: inline-block;
  margin-right: 2rem;
}
.footer__subititle-text {
  margin-top: 1rem;
  font-size: 1.8rem;
}
