.hero__container {
  width: 100%;
  height: 90rem;
  background-color: #fefaf5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero__container-text {
  color: #335576;
  margin-right: 30rem;
  width: 80rem;
}
.hero__container-text h1 {
  font-size: 5rem;
  margin-bottom: 6rem;
}
.hero__container-text p {
  font-size: 2rem;
  margin-bottom: 5rem;
}
.hero__container-image{
    width: 50rem;
    height: 50rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    
}
.hero__container-image img{
    width: 100%;
}
.section{
    width: 100%;
    height: 90rem;
}
.section h1{
    margin-top: 4rem;
    margin-left: 8rem;
    font-size: 3rem;
    color: #335576;
}
.hawaii{
    background-image: url('../assets/Images/hawaii.jpg');
    background-position: center;
    background-size: cover;
}
.iceland{
    background-image: url('../assets/Images/iceland.jpg');
    background-position: center;
    background-size: cover;
}
.greece{
    background-image: url('../assets/Images/greece.jpg');
    background-position: center;
    background-size: cover;
}
.hawaii h1,.iceland h1,.greece h1{
    
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 50rem;
    margin-left: 25rem;
}